body,html{
    background-image: url(/assets/images/email-pattern.png);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
}

.head-about {
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom: 1px solid #dddddd;
}

.custom{
    background-color: #ffffff; 
    border: 2px solid #cccccc;
    box-shadow: lightgray 0px 0px 10px;
}

.rounded-circle {
    width: 200px;
}

.about-text {
    position: relative;
    background-clip: border-box;
    width: 95%;
    line-height: 50px;   
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}







